
<div class="page-header">
  <h1><a href="<%= @link.url %>"><%= @link.title %></a></h1>
  <small class="text-muted">Submitted <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.email %></small>
</div>

<div class="btn-group">
  <a href="<%= @link.url %>" class="btn btn-primary">View URL</a>
  <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
  <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>

<div class="btn-group pull-right">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
   <!-- Upvote -->
   <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
   <!-- Downvote -->
   <%= @link.get_downvotes.size %>
  <% end %>
</div>
